* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#insert {
    padding-left: 30%;
    padding-right: 30%;
    height: 35px;
    border: none;
    border-radius: 10px;
}
#form_input{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-top: 15%;
    padding-left: 30%;
    padding-right: 30%;
}
input {
    width: 70%;
    height: 45px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

input:focus {
    outline: none;
}
body {
    background: linear-gradient(#9120e7, #5b08d0);
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}